/* Container for pagination navigation */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
    background-color: #f8f9fa; /* Light background */
    border-radius: 4px; /* Smaller rounded corners */
    margin: 20px 0; /* Spacing around the pagination */
}

/* Pagination items */
.page-item {
    margin: 0 4px; /* Small space between page items */
}

/* Page link styles */
.page-link {
    padding: 6px 10px;
    border: none;
    border-radius: 4px; /* Smaller border radius */
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for page links */
.page-link:hover {
    background-color: #e2e2e2; /* Slightly darker grey on hover */
}

/* Active page styling */
.page-item.active .page-link {
    background-color: #0F121F; /* Dark background for active page */
    color: #fff; /* White text on active page */
     /* Slightly bolder font for emphasis */
}

/* Arrow buttons (Previous and Next) */


/* Hide the border and make it blend in */
.page-link:focus {
    outline: none;
}

@media (max-width:1200px){
    .pagination{
        width: 60rem;
    }
}
@media (max-width: 992px){
    .pagination{
        width: 50rem;
    }
}
@media (max-width: 768px){

}

@media (max-width: 480px){

}
@media (max-width: 320px){

}