.fuel-container {
    display: inline-block;
    font-family: 'YourDefaultFont', sans-serif;
}

.select-element-fuel {
    padding: 10px;
    border: 0.1rem solid #ccc;
    font-size: 16px;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

.select-element-fuel:hover {
    border-color: #D8513F;
    outline: none;
}

.dropdown-fuel-menu {
    width: 22rem;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    width: 22rem;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}