.card-masina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 37.5rem;
    
}
.imagini{
    display:flex;
    flex-direction: column;
  
}


.main-photo {
    width: 100%;
    height: 13.063rem;
    object-fit: cover;
    
}

.small-photos {
    display: flex;
   gap: 0.2rem;
    margin-top: 0.2rem;
    width: 100%;

}
.small-photos img{
    width: 7.513rem;
    height: 7.563rem;
}
.thumbnail-photo {
    width: 30%;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.car-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 11.644rem;
    margin-right: 1rem;
}



.car-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    max-height: 4rem; /* Allow up to 2 lines */
    overflow:visible;
    word-wrap: break-word; /* Allow text to wrap onto multiple lines */
    line-height: 1; /* Adjust line height for readability */
}



.car-info p {
    font-size: 14px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: auto;
}

.card-masina button {
    width: 11.875rem;
    height: 3.75rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: auto;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.card-masina .edit-button {
    background-color: #0F121F;
    color: #fff;
    margin-bottom: 1rem;
  
}

.card-masina .delete-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin-bottom: 0.3rem;
}
 