/* Container for the mileage input fields */
.mileage-container {
    display: inline-block;
    font-family: 'YourDefaultFont', sans-serif; /* Ensure consistent font */
}

/* Styling for the select input-like container */
.select-element-mileage {
    padding: 10px;
    border: 0.1rem solid #ccc;
    font-size: 16px;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Focus state styling for the select input-like container */
.select-element-mileage:hover {
    border-color: #D8513F;
    outline: none;
}

/* Styling for the custom range input fields */
.custom-mileage-range {
    margin-top: 10px;
}

.custom-mileage-range input {
    display: inline-block;
    width: calc(50% - 25px); /* Fits inputs side by side with margin */
    gap: 10px;
    padding: 8px;
    border: 0.1rem solid #ccc;
    border-radius: 0px;
    font-size: 16px;
    box-sizing: border-box; /* Includes padding and border in width */
    font-family: 'YourDefaultFont', sans-serif; /* Consistent font */
}

.custom-mileage-range input:last-child {
    margin-right: 0; /* Remove margin from the last input */
}

.dropdown-mileage-menu {
    width: 22rem; /* Adjust width for consistency */
}
