.footer-container {
  background-color: #0F121F; /* Dark background for the footer */
  height: 25rem; /* Fixed height for larger screens */
  width: 100%; /* Ensure footer extends full width of page */
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items */
}

.footer-container span {
  color: white; /* Text color */
}

.footer-info-div {
  display: flex; /* Flexbox for layout */
  flex-direction: row; /* Row layout for contact sections */
  justify-content: space-between; /* Space items evenly */
  padding-top: 2rem; /* Padding from top */
  margin-bottom: 6rem; /* Bottom margin */
  width: 77.5rem; /* Set a max width for larger screens */
}

.hr-footer {
  width: 77.5rem; /* Full width for the <hr> */
  border: none; /* Remove any default border */
  border-top: 1px solid white; /* Top border color */
  margin: 0; /* Reset margin */
}

.footer-bottom {
  padding-top: 1rem; /* Padding above the footer text */
}


@media (max-width: 1200px) {
  
}


@media (max-width: 992px) {
  
}


@media (max-width: 768px) {
 
}


@media (max-width: 480px) {
 .footer-container {
  background-color: #0F121F; 
  height: 25rem; 
  width: 480px; 
  justify-content: center;
}

.footer-info-div {
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Row layout for contact sections */
  width: auto;
 
 
 
}
}


@media (max-width: 320px) {
 
}