span {
    font-family: "IBM Plex Sans", sans-serif;
  }

  h1{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }

  h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }
  h3{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }

  button{
    font-family: "IBM Plex Sans", sans-serif;
  }

 p{
    font-family: "IBM Plex Sans", sans-serif;
 }

 body{
  overflow-x: hidden;
  margin: 0;
  margin-top: 1.5rem;
 }

 hr {
  margin-top: 1.5rem;
 }

 

body{
  background-color: #EEEFF2;
}



a{
  color: #EEEFF2;
}


