span {
    font-family: "IBM Plex Sans", sans-serif;
  }

  h1{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }

  h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }
  h3{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }

  button{
    font-family: "IBM Plex Sans", sans-serif;
  }

 p{
    font-family: "IBM Plex Sans", sans-serif;
 }

 body{
  overflow-x: hidden;
  margin: 0;
  margin-top: 1.5rem;

  
  
  
 }

 hr {
  margin-top: 1.5rem;
 }

 

body{
  background-color: #EEEFF2;
  
}



a{
  color: #EEEFF2;
}

@media (max-width:1200px){
  body{
    width: 100vh;
    display: flex;
    align-items: center;
   }

}

@media (max-width: 992px){
  body{
    width: 100vh;
    display: flex;
    align-items: center;
   }
}

@media (max-width: 768px){
  body{
    width: 100vh;
    display: flex;
    align-items: center;
   }
}

@media (max-width: 480px){
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
   }
}

@media (max-width: 320px){
  body{
    width: 100vh;
    display: flex;
    align-items: center;
    
   }
}


* {
  box-sizing: border-box; /* Includes padding and border in width/height */
}
