.manufacturer-container {
    display: inline-block;
    font-family: 'YourDefaultFont', sans-serif; /* Ensure the same font is used */
}

.select-element-manufacturer {
    padding: 10px;
    border: 0.1rem solid #ccc;
    font-size: 16px;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
}


.select-element-manufacturer:hover {
    border-color: #D8513F;
    outline: none;
    
}

.dropdown-manufacturer-menu {
    width: 22rem; /* Match the width of dropdown-fuel-menu */
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    border-color: #D8513F;
}

.dropdown-option:hover{
    border-color: #D8513F;
}



