/* Container for the production year input fields */
.production-year-container {
    display: inline-block;
    font-family: 'YourDefaultFont', sans-serif; /* Consistent font */
}

/* Styling for the select input-like container */
.select-element-production-year {
    padding: 10px;
    border: 0.1rem solid #ccc;
    font-size: 16px;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Focus state styling for the select input-like container */
.select-element-production-year:hover {
    border-color: #D8513F;
    outline: none;
}

/* Styling for the custom range input fields */
.custom-year-range {
    margin-top: 10px;
}

.custom-year-range input {
    display: inline-block;
    width: calc(50% - 25px); /* Fits inputs side by side with margin */
    gap: 10px;
    padding: 8px;
    border: 0.1rem solid #ccc;
    border-radius: 0px;
    font-size: 16px;
    box-sizing: border-box; /* Includes padding and border in width */
    font-family: 'YourDefaultFont', sans-serif; /* Consistent font */
}

.custom-year-range input:last-child {
    margin-right: 0; /* Remove margin from the last input */
}

/* Dropdown menu for production year options */
.dropdown-year-menu {
    width: 22rem; /* Adjust width for consistency */
}

.dropdown-option {
    padding: 10px;
    border-bottom: 0.1rem solid #ccc;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}
