.our-cars-info-bottom-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our-cars-info-bottom-container{
    display: flex;
    flex-direction: column;
    width: 15.50rem;
   text-align: center;
}

.custom-hr {
    width: 77.5rem;
}


.our-cars-info-bottom-button{
    appearance: none;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box; /* Ensures the border is inside the button's dimensions */
  color: #000000;
  cursor: pointer;
  border-style: solid;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  padding: 8px 28px;

}

.our-cars-info-bottom-button:hover {
    background-color: #000000;
    color:  #ffffff;
  }
  .our-cars-info-bottom-button:active {
    background-color: #606361;
    border-color:#606361;;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  