.cars-card-holder-component {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; /* Space between cards */
    align-items: center; 
    justify-content: space-between; /* Space out items evenly */
    margin-top: 4rem;
}

/* Default card styling */
.cars-card-holder-component > * {
    flex: 1 0 300px; /* Allow cards to grow and shrink */
    max-width: calc(50% - 20px); /* Max width to fit two cards per row */
}

.car-card {
    height: 32rem; /* Fixed height for cards */
    position: relative; 
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.car-card:hover {
    transform: scale(0.98); /* Slight scale on hover */
    cursor: pointer; /* Change cursor to pointer */
}

.main-picture {
    width: 100%; /* Full width of card */
    height: 100%; /* Full height of card */
    display: block; 
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 0.6rem; /* Rounded corners */
}

.car-price {
    position: absolute; 
    bottom: 5px; /* Position price at the bottom */
    left: 5px; 
    margin-bottom: 0px;
    padding: 5px; 
    color: white; /* White text color */
}

.car-name-model-div {
    position: absolute; 
    top: 5px; /* Position name/model at the top */
    left: 5px;
    right: 5px;
    color: white; /* White text color */
}

.car-name, .car-model {
    margin-top: 5px; 
    display: inline-block; /* Display as inline */
}

.car-name {
    color: white; /* White color for car name */
}

.car-model {
    color: white; /* White color for car model */
    margin-left: 10px; /* Space between name and model */
}

/* Loader styling */
.loader {
    border: 7px solid #D9D9D9; /* Light grey */
    border-top: 7px solid #D8513F; /* Blue */
    border-radius: 50%;
    width: 40px; /* Loader width */
    height: 40px; /* Loader height */
    animation: spin 2s linear infinite; /* Spin animation */
}



@media (max-width: 1200px) {
    .cars-card-holder-component {
        gap: 1rem; 
        
    }

 }
 
 @media (max-width: 992px) {
  
 }
 
 
 @media (max-width: 768px) {
    
 }
 
 
 @media (max-width: 480px) {
    
 }
 
 @media (max-width: 320px) {
    
 }
