.car-card-holder-component {
    width: 51.50rem;
    height: 27.50rem;
    border: 1px solid grey;
   display: flex;
   flex-direction: row;
   border-radius: 1rem;
}

.img-holder {
    display: flex;
    flex-direction: column;
    border-right: solid;
    width: 24rem;
    border-right: 1px solid red;
}

.secondary-img {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.image-holder {
    width: 24rem;
    height: 13rem;
   
    
}
.information-div{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    margin-left: 1.34rem;
}