.car-card-holder-component {
    width: 51.50rem;
    height: 27.50rem;
   display: flex;
   flex-direction: row;
   border-radius: 0.5rem;
   margin-top: 2.5rem;
   background-color: white;
}

.img-holder {
    display: flex;
    flex-direction: column;
    width: 24rem;
    
}

.secondary-img {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.image-holder {
    width: 24rem;
    height: 13rem;
   
    
}
.information-div{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    margin-left: 1.34rem;
}
@media (max-width: 1200px) {
    .img-holder{
        display: flex;
        flex-direction: row;
    }
    .secondary-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0.25rem;
    }
  }

   
 
  @media (max-width: 992px){
   
  }
  @media (max-width: 768px){

  }
  
@media (max-width: 480px){

}
@media (max-width: 320px){

}