.Interior-box p{
    border-bottom: 1px solid black;
    margin-left: 3.125rem;
    margin-bottom: 1.1rem;
    padding-bottom: 1.1rem;
    width: 48rem;
    font-weight: 300;
    font-size: 1.563rem;
}
.Interior-box{
    font-family:"IBM Plex Sans", sans-serif;
    width:77.5rem;
}
.sub-title{
    font-weight: 400;
    font-size: 24px;
}
.big-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}