.backGround {
    position: static;
    width: 100%; /* Full width for all screens */
    height: 22.5rem; /* Fixed height for larger screens */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.size {
    width: 77.5rem; /* Default width for larger screens */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
}

.container-div {
    width: 100%; /* Full width for the container */
    max-width: 77.5rem; /* Limit width to match the .size div */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    padding: 0 1rem; /* Add horizontal padding */
}

@media (max-width: 1200px) {
   
}


@media (max-width: 992px) {
    
}


@media (max-width: 768px) {
   
}


@media (max-width: 480px) {
    .size {   
        align-items: start; /* Center horizontally */
    }
}


@media (max-width: 320px) {
   
}