.backGroundimg {
    width: 100vw;
    height:23rem ;
    display: block; /* Removes bottom margin/whitespace */
    object-fit: cover;
    
  }
  
  .backGroundimgDiv {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    
  }


  @media (max-width: 1200px) {
    .backGroundimg {
        width: 100rem;
    }
}


@media (max-width: 992px) {
    
}


@media (max-width: 768px) {
   
}


@media (max-width: 480px) {
    
}


@media (max-width: 320px) {
   
}
