.InfoHeaderTopCss {
    display: flex; 
    flex-direction: column; 
}

.top-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.right-side-elements {
    display: flex; 
    flex-direction: row;
}

.right-side-elements > *:first-child {
    margin-right: 2rem;
}

.hr-container {
    margin: 0; 
}

@media (min-width:1200px){
    .top-content {
        display: flex; 
        align-items: center; 
        justify-content: space-between ; 
    }
}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .right-side-elements {
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 1rem;
    }

    .top-content {
        justify-content: start;
    }
}

@media (max-width: 480px){
    .top-content{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
  
    .right-side-elements {
       
       
        margin-left: 0rem;
    }
}

@media (min-width: 320px){

}