.adding-pictures-div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.div-info-top-img{
    width: 77.5rem;
    

}

.img-admin-upload-div{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    width: 100%;
    
    
}
.img-admin-upload-div {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.main-img-upload-div{
    background-color: white;
    width: 50%;
    height: 38.3rem;
    
    
}

.main-img-upload{
    
    width: 100%;
    height: 38.3rem;
    object-fit: cover;
   
}

.secondary-img-upload-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
    box-sizing: border-box;
    height: 38.3rem;
    gap: 0.3rem;
    background-color: white;
}

.secondary-img-upload {
    width: 100%;
    height: 19rem;
    object-fit: cover;
    
}


.main-picture-btn {
    margin-top: 1rem;
    
}

.upload-pictures-btn{
    margin-bottom: 1rem;
    margin-right: 1rem;
    
}