
.info-Header-Top-Second {
   display: flex;
   align-items: center;
   padding: 1rem;
   width: 100%;
   box-sizing: border-box;
   position: relative;
}

/* Menu (buttons) */
.menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 1rem; 
   width: 60%; 
}


.search-container {
   margin-left: auto; 
}


.burger-menu {
   display: none; 
   background: none;
   border: none;
   font-size: 1.5rem;
   cursor: pointer;
}


@media (min-width: 992px) {
   .info-Header-Top-Second {
       flex-direction: row;
       justify-content: space-between;
   }

   
   .menu {
       display: flex;
   }

   
   .search-container {
       margin-left: auto;
   }
}


@media (max-width: 992px) {
   .info-Header-Top-Second {
       flex-direction: row;
       justify-content: space-between;
   }

   
   .menu {
       display: none; 
       flex-direction: column;
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color: white;
       padding: 1rem;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       gap: 1rem; 
       width: 100%; 
   }

   .menu.show {
       display: flex; 
   }

   
   .burger-menu {
       display: block; 
       margin-right: 1rem;
   }

   
   .search-container.left {
       order: -1; 
       margin-right: auto; 
   }
}

@media (max-width: 768px){
   .search-container {
      margin-left: 0;
      
  }
  .info-Header-Top-Second{
   padding-left: 0px;
   
  }

  .burger-menu{

  }
}

@media (max-width: 480px) {
   .menu {
       width: 100%; 
   }

   .search-container {
       margin-left: 0;
       margin-top: 1rem;
   }
   .info-Header-Top-Second{
    padding-left: 0px;
    justify-content: space-between;
   }
}

@media (max-width: 320px) {
  
}
