.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to center the navbar-div */
    
}

.navbar-div {
    width: 77.5rem;
    /* Any other styles you need for this div */
}