.cars-btn {
  background-color: #EEEFF2;
  color: black;
  border: none;
  position: relative;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif; /* Ensures consistent font styling */
  text-decoration: none; /* Removes default underline */
}

.cars-btn:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f22606; /* Orange underline */
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.cars-btn:hover:after, .cars-btn.active:after { 
  width: 100%; 
  left: 0; 
}